/* Реализация */
.slide {
  display: none;
}

input:checked + label {
  background-color: #ffffff;
  color: #32425C;	
}

.btn-delivery:checked ~ .slide-list .slide-delivery {
  display: block;	
}
.btn-guarantee:checked ~ .slide-list .slide-guarantee {
  display: block;	
}
.btn-credit:checked ~ .slide-list .slide-credit {
  display: block;	
}

/* Сетка */
.slider {
  display: grid;
  grid-template-columns: 240px 300px;
  grid template-rows: 61px 61px 61px auto;
  column-gap: 80px;
}

.lbl-delivery {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.lbl-guarantee {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.lbl-credit {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.slide-list {
  grid-column: 2 / 3;
  grid-row: 1 / 5;
}

/* Стилизация */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.5em;
}

p {
  width: 520px;
}

input[class^="btn-"] {
  display: none;
}

label {
  display: block;
  box-sizing: border-box;
  width: 240px;
  height: 61px;
  padding-left: 22px;
  background-color: #32425C;
  color: #ffffff;
  vertical-align: middle;
  font-weight: bold;
  font-size: 18px;
  line-height: 61px;
}

label:hover {
  background-color: #293449;
}

.slide-list {
  margin: 0;
}

.slide dt {
  font-size: 20px;
  margin-bottom: 20px;
}

.slide dd {
  margin: 0;
}













